@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica' sans-serif;
    font-size: 18px; 
}

#map {
    background-size: auto 200%;
    height: 1000px;
}
 